<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% @warehouses.each do |warehouse| %>
  <div>
    <span><%= link_to warehouse.name, warehouse_path(warehouse.id) %></span>
    <span><strong>Código:</strong> <%= warehouse.code %></span>
    <span><strong>Cidade:</strong> <%= warehouse.city %></span>
    <span><strong>Área: </strong><%= number_with_delimiter(warehouse.area, delimiter: '.') %> m²</span>
  </div>
<% end %>

<% if @warehouses.empty? %>
  <span>Não existem galpões cadastrados</span>
<% end %>
