<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% @warehouses.each do |warehouse| %>
  <div>
    <span><%= warehouse.name %></span>
    <span>Código: <%= warehouse.code %></span>
    <span>Cidade: <%= warehouse.city %></span>
    <span><%= number_with_delimiter(warehouse.area, delimiter: '.') %> m²</span>
  </div>
<% end %>

<% if @warehouses.empty? %>
  <span>Não existem galpões cadastrados</span>
<% end %>
