<h2><%= t '.edit_order' %> <%= @order.code %></h2>

<% if @order.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  
  <% @order.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'form' %>
