button {
  padding: 0;
	border: none;
  background: none;
	color: inherit;
	font: inherit;
	outline: inherit;
  text-decoration: underline;
	cursor: pointer;
}

#user-menu {
  display: inline-flex;
  gap: .5rem;
}
