<h3><%= I18n.t 'views.suppliers.new_supplier' %></h3>

<% if @supplier.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  
  <% @supplier.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'form' %>
