<h1>Novo Galpão</h1>

<% if @warehouse.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  
  <% @warehouse.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'form' %>
