<h1><%= I18n.t 'views.warehouses.new_warehouse' %></h1>

<% if @warehouse.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  
  <% @warehouse.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'form' %>
